[run]
omit =
    */tests/*
    */__init__.py
    */tests/*
    */.venv/*
    */miniconda3/*
    */site-packages/*
    */plugins/action_interactions/custom/*
    
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: