venv/
Yuc.Aibots.Framework.code-workspace
.env*
.config*
**/__pycache__/
app.log
qodana.yaml
htmlcov/
.idea/
.pytest_cache/
.bin
.idea/
logs/*
.ruff_cache
.venv/
.coverage
coverage.xml
codebase.md
*.log
plugins/action_interactions/custom/*
/output.csv

# Include the Logs and InternalData directories
!logs/
!internal_data/

# Ignore all files in Logs and InternalData
logs/*
internal_data/*

# Do not ignore the directories themselves
!logs/.gitkeep
!internal_data/.gitkeep

# Ignore everything in plugins/backend/session_managers
plugins/backend/session_managers/*

# Do not ignore the default_session_manager directory
!plugins/backend/session_managers/default_session_manager

# Do not ignore the contents of the default_session_manager directory
!plugins/backend/session_managers/default_session_manager/**

# Do not ignore the __init__.py file in session_managers
!plugins/backend/session_managers/__init__.py

# Ignore all directories in plugins/user_interactions/custom_api
plugins/user_interactions/custom_api/*

# Do not ignore the generic_rest directory and its contents
!plugins/user_interactions/custom_api/generic_rest
!plugins/user_interactions/custom_api/generic_rest/**