venv/
Yuc.Aibots.Framework.code-workspace
.env*
.config*
**/__pycache__/
app.log
qodana.yaml
htmlcov/
.idea/
.pytest_cache/
.bin
.idea/
logs/*
.ruff_cache
.venv/
.coverage
coverage.xml
codebase.md
*.log
plugins/action_interactions/custom/*
/output.csv

# Inclure les dossiers Logs et InternalData
!logs/
!internal_data/

# Ignorer tous les fichiers dans Logs et InternalData
logs/*
internal_data/*

# Ne pas ignorer les dossiers eux-mêmes
!logs/.gitkeep
!internal_data/.gitkeep